<div style="align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex; margin-top: 5%">
  <h1 style="color: rgb(51, 102, 204); font-size: 60px">sistema de encuestas </h1>
  <p>Bienvenido al plan de contingencia de encuestas</p>
  <p style="margin-top: -10px">para el control de covid-19 en su empresa</p>
</div>


<div class="container">

  <div class="row" style="margin-top: 10%">

    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <button  class="zoom" style="width: 300px;
            height: 250px;
            background-color:  rgb(51, 102, 204);
            border-radius: 25px;
        "
                 onclick="window.open('https://www.ins.gov.co/Noticias/Paginas/Coronavirus.aspx')"
        >
          <h1 class="fas fa-user-friends" style="font-size: 90px"></h1>
          <br>
          <p style="color: white;
              font-size: 21px;

          "> Afectados en Colombia</p>
          <p style="color: white">(instituto nacional de salud)</p>
        </button>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <button class="zoom"  style="width: 300px;
            height: 250px;
            background-color:  rgb(51, 102, 204);
            border-radius: 25px;
        "
                onclick="window.open('https://news.google.com/covid19/map?hl=es-419&gl=US&ceid=US:es-419')">

          <img style="width: 210px; height: 110px; margin-top: -5%;    margin-bottom: 8%;"  src="https://cdn.pixabay.com/photo/2014/03/25/16/34/world-map-297446_960_720.png">
          <p style="color: white;
              font-size: 21px;
              margin-top: -3%;
          "> Casos en el Mundo</p>
          <p style="color: white">(mapa mundi google)</p>
        </button>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <button class="zoom"  style="width: 300px;
            height: 250px;
            background-color:  rgb(51, 102, 204);
            border-radius: 25px;"
                onclick="window.open('https://www.ins.gov.co/Noticias/Paginas/Coronavirus.aspx')">


          <img style="width: 80px; height: 100px; margin-top: -5%;    margin-bottom: 8%;"  src="https://image.flaticon.com/icons/png/512/24/24331.png">
          <br>
          <p style="color: white;
              font-size: 21px;

          "> Casos en Colombia</p>
          <p style="color: white">(instituto nacional de salud)</p>

        </button>

        </div>

      </div>
    </div>

    <div class="w-100"></div>
  </div>
</div>