// Place all the styles related to the exit_surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.controle-exit{
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 21px;
  display: flex;
}


.table-label-exit{
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
  font-size: 21px;
  display: flex;
}
input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

table-exit{
  width: 21% !important;
  height: 18% !important;
}
.table th {
  padding-bottom: 0px !important;
}

.boder-table-t th {
  vertical-align: middle !important;
  padding: 0 0.5rem !important;
  height: 80px;
}
