body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #014d9e;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.mapa{
  fill: rgb(255, 255, 255);
  transform: translate(3.5, 0);
  d: path("M 12.976 1.407 C 12.976 1.407 13.644 1.407 13.644 1.407 C 13.644 1.407 14.277 0.774 14.277 0.774 C 14.277 0.774 13.468 0 13.468 0 C 13.468 0 12.87 0 12.87 0 C 12.87 0 10.092 2.743 10.092 2.743 C 10.092 2.743 7.912 2.743 7.912 2.743 C 7.912 2.743 7.912 3.622 7.912 3.622 C 7.912 3.622 7.349 3.622 7.349 3.622 C 7.349 3.622 7.068 3.341 7.068 3.341 C 7.068 3.341 6.681 3.341 6.681 3.341 C 6.681 3.341 5.415 4.571 5.415 4.571 C 5.415 4.571 5.415 6.752 5.415 6.752 C 5.415 6.752 4.782 6.752 4.782 6.752 C 4.782 6.752 2.954 8.58 2.954 8.58 C 2.954 8.58 3.622 9.284 3.622 9.284 C 3.622 9.284 3.622 9.916 3.622 9.916 C 3.622 9.916 3.27 9.916 3.27 9.916 C 3.27 9.916 3.27 9.705 3.27 9.705 C 3.27 9.705 2.145 8.58 2.145 8.58 C 2.145 8.58 2.145 9.037 2.145 9.037 C 2.145 9.037 2.884 9.776 2.884 9.776 C 2.884 9.776 1.266 11.358 1.266 11.358 C 1.266 11.358 2.567 12.659 2.567 12.659 C 2.567 12.659 2.567 13.855 2.567 13.855 C 2.567 13.855 2.884 14.171 2.884 14.171 C 2.884 14.171 2.286 14.769 2.286 14.769 C 2.286 14.769 2.743 15.226 2.743 15.226 C 2.743 15.226 2.743 17.407 2.743 17.407 C 2.743 17.407 3.481 18.145 3.481 18.145 C 3.481 18.145 3.481 18.743 3.481 18.743 C 3.481 18.743 2.532 19.692 2.532 19.692 C 2.532 19.692 2.532 20.255 2.532 20.255 C 2.532 20.255 2.145 20.607 2.145 20.607 C 2.145 20.607 1.301 20.607 1.301 20.607 C 1.301 20.607 0.703 21.204 0.703 21.204 C 0.703 21.204 0.703 21.837 0.703 21.837 C 0.703 21.837 1.055 22.189 1.055 22.189 C 1.055 22.189 0.809 22.4 0.809 22.4 C 0.809 22.4 0.352 22.4 0.352 22.4 C 0.352 22.4 0 22.787 0 22.787 C 0 22.787 0.738 23.525 0.738 23.525 C 0.738 23.525 1.442 23.525 1.442 23.525 C 1.442 23.525 2.11 24.158 2.11 24.158 C 2.11 24.158 3.165 24.158 3.165 24.158 C 3.165 24.158 3.868 24.862 3.868 24.862 C 3.868 24.862 5.415 24.862 5.415 24.862 C 5.415 24.862 5.802 24.475 5.802 24.475 C 5.802 24.475 6.189 24.475 6.189 24.475 C 6.189 24.475 6.892 25.143 6.892 25.143 C 6.892 25.143 9.037 25.143 9.037 25.143 C 9.037 25.143 11.78 27.886 11.78 27.886 C 11.78 27.886 12.484 27.886 12.484 27.886 C 12.484 27.886 12.484 28.941 12.484 28.941 C 12.484 28.941 14.453 28.941 14.453 28.941 C 14.453 28.941 15.015 28.378 15.015 28.378 C 15.015 28.378 18.075 28.378 18.075 28.378 C 18.075 28.378 18.813 29.116 18.813 29.116 C 18.813 29.116 18.145 29.785 18.145 29.785 C 18.145 29.785 18.145 31.367 18.145 31.367 C 18.145 31.367 18.708 31.367 18.708 31.367 C 18.708 31.367 19.341 32 19.341 32 C 19.341 32 19.341 30.207 19.341 30.207 C 19.341 30.207 19.657 29.89 19.657 29.89 C 19.657 29.89 19.657 25.705 19.657 25.705 C 19.657 25.705 18.145 24.193 18.145 24.193 C 18.145 24.193 18.145 22.681 18.145 22.681 C 18.145 22.681 18.567 22.259 18.567 22.259 C 18.567 22.259 19.903 22.259 19.903 22.259 C 19.903 22.259 19.903 21.521 19.903 21.521 C 19.903 21.521 18.567 21.521 18.567 21.521 C 18.567 21.521 18.567 20.255 18.567 20.255 C 18.567 20.255 21.486 20.255 21.486 20.255 C 21.486 20.255 21.486 19.516 21.486 19.516 C 21.486 19.516 21.732 19.516 21.732 19.516 C 21.732 19.516 22.154 19.938 22.154 19.938 C 22.154 19.938 22.892 19.2 22.892 19.2 C 22.892 19.2 23.771 20.079 23.771 20.079 C 23.771 20.079 23.771 20.853 23.771 20.853 C 23.771 20.853 24.229 20.853 24.229 20.853 C 24.229 20.853 24.229 19.727 24.229 19.727 C 24.229 19.727 22.224 17.723 22.224 17.723 C 22.224 17.723 23.103 16.844 23.103 16.844 C 23.103 16.844 23.103 16.176 23.103 16.176 C 23.103 16.176 21.943 15.015 21.943 15.015 C 21.943 15.015 21.943 12.905 21.943 12.905 C 21.943 12.905 22.4 12.448 22.4 12.448 C 22.4 12.448 22.4 11.921 22.4 11.921 C 22.4 11.921 22.752 11.569 22.752 11.569 C 22.752 11.569 22.752 11.077 22.752 11.077 C 22.752 11.077 21.204 11.077 21.204 11.077 C 21.204 11.077 20.818 11.429 20.818 11.429 C 20.818 11.429 18.321 11.429 18.321 11.429 C 18.321 11.429 17.02 10.127 17.02 10.127 C 17.02 10.127 15.684 10.127 15.684 10.127 C 15.684 10.127 15.262 10.514 15.262 10.514 C 15.262 10.514 13.398 10.514 13.398 10.514 C 13.398 10.514 12.413 9.53 12.413 9.53 C 12.413 9.53 12.413 7.982 12.413 7.982 C 12.413 7.982 10.901 6.47 10.901 6.47 C 10.901 6.47 10.479 6.892 10.479 6.892 C 10.479 6.892 10.127 6.541 10.127 6.541 C 10.127 6.541 10.76 5.908 10.76 5.908 C 10.76 5.908 10.76 3.692 10.76 3.692 C 10.76 3.692 12.976 1.407 12.976 1.407");
}

.imagePlus  {
  background: {
    image: asset-url('https://4.bp.blogspot.com/-cVO8CTsGC1w/Um0SOZz6fDI/AAAAAAAAAok/dopUSBWisYs/s1600/Reporte+I.png');
  }
}