<div style="align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex; margin-top: 5%">
  <h1 style="color: #1b1daf; font-size: 60px"> Reportes </h1>
</div>


<div class="container">

  <div class="row" style="margin-top: 10%">

    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <%= button_to "Generar reporte de Entradas", { :controller => "entrance_surveys", :action => "xls_report"}, :style => 'width: 300px;background-color:  #1b1daf;height: 250px;border-radius: 25px;'  %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <%= button_to "Generar reportes de Salida", { :controller => "exit_surveys", :action => "output_reports"}, :style => 'width: 300px;background-color:  #1b1daf;height: 250px;border-radius: 25px;'  %>
      </div>
    </div>
  <div class="w-100"></div>
</div>
</div>